# Sobre el futuro de map, filter y lambda

## All Things Pythonic: The fate of reduce() in Python 3000

### by Guido van van Rossum, March 10, 2005

lambda argument_list: expression

In [3]:
sum_lambda = lambda x,y : x+y

In [7]:
sum_lambda(4,5)

9

###  List Comprehension
nueva_lista = [x for x in iterable]

In [20]:
letras_ciencia = [letra for letra in "Ciencia de datos ABCHJAASAS"]

In [21]:
print(letras_ciencia)

['C', 'i', 'e', 'n', 'c', 'i', 'a', ' ', 'd', 'e', ' ', 'd', 'a', 't', 'o', 's', ' ', 'A', 'B', 'C', 'H', 'J', 'A', 'A', 'S', 'A', 'S']

In [22]:
letras_ciencia_set = set([letra for letra in "Ciencia de datos ABCHJAASAS"])

In [23]:
print(letras_ciencia_set)

{'J', 'i', 'a', ' ', 'd', 'B', 'A', 's', 'n', 'c', 'H', 't', 'o', 'e', 'S', 'C'}

In [24]:
type(letras_ciencia_set)

set

In [28]:
print(sorted(letras_ciencia_set))

[' ', 'A', 'B', 'C', 'H', 'J', 'S', 'a', 'c', 'd', 'e', 'i', 'n', 'o', 's', 't']

### Condicionales

if (expression) : 
    instruccion

In [35]:
tupla_lugares = ("cafeteria", "biblioteca","rectoria","estacionamiento")

In [40]:
lista_lugares = [lugar for lugar in tupla_lugares]
print(lista_lugares)

['cafeteria', 'biblioteca', 'rectoria', 'estacionamiento']

In [41]:
lista_lugares = [lugar for lugar in tupla_lugares if lugar != "rectoria"]
print(lista_lugares)

['cafeteria', 'biblioteca', 'estacionamiento']

In [44]:
lista_numero_mas_dos = [numero for numero in range(10) if numero %2 == 0]
print(lista_numero_mas_dos)

[0, 2, 4, 6, 8]

In [49]:
lista_numero_mas_dos = [numero+2 for numero in range(10) if numero %2 == 0]
print(lista_numero_mas_dos)

[2, 4, 6, 8, 10]

Generar una lista con elementos divisibles por 3 y 5 en el rango 0-99

In [58]:
## Usando AND
lista_divisible = [numero for numero in range(100) if numero % 3 == 0 and numero %5 == 0]
print(lista_divisible)

[0, 15, 30, 45, 60, 75, 90]

In [59]:
## Usando if's anidados
lista_divisible = [numero for numero in range(100) if numero % 3 == 0 if numero %5 == 0]
print(lista_divisible)

[0, 15, 30, 45, 60, 75, 90]

In [60]:
import pandas as pd

Crear un DF dummy con 3 Columnas:
    Nombre
    Semestre
    Final y 5 renglones

In [68]:
data_dict = {
    "nombre": ["Sergio","Vladimir", "Tania", "Elsy", "Oktavia"],
    "semestre": [1,1,3,5,5],
    "final": [7.5,8,9,8.2,4]
}

In [72]:
df = pd.DataFrame(data_dict)
df = df[["nombre","semestre","final"]]
df

     nombre  semestre  final
0    Sergio         1    7.5
1  Vladimir         1    8.0
2     Tania         3    9.0
3      Elsy         5    8.2
4   Oktavia         5    4.0

In [73]:
# Loop
sig_sem = [semestre+1 for semestre in df["semestre"]]
print(sig_sem)

[2, 2, 4, 6, 6]