# Importar Pandas

In [1]:
import pandas as pd

# Buscar:

# List of countries by population density

# URL: https://simple.wikipedia.org/wiki/List_of_countries_by_population_density

In [6]:
url = "https://simple.wikipedia.org/wiki/List_of_countries_by_population_density"

In [18]:
densidad_df = pd.read_html(url,header = 0)

In [8]:
type(densidad_df)

list

In [20]:
densidad_df = pd.DataFrame(densidad_df[0])

In [11]:
type(densidad_df)

pandas.core.frame.DataFrame

In [21]:
densidad_df.head()

,Rank,Country / dependent territory,Population,Date last updated,Area (km2),Area (mi2),Density (km2),Density (mi2),Notes
0,1,Macau (China),541200,"February 28, 2017",29.2,11.3,18534,48003,[1]
1,2,Monaco,33000,2013,1.95,0.75,16923,43830,[2][3]
2,3,Singapore,5076700,2000,710.2,274.2,7148,18513,[4]
3,4,Hong Kong (China),7264100,1998,1104,426,6349,16444,[5]
4,5,Gibraltar (UK),31000,2018,6.8,2.6,4559,11808,[2]

# We Scrapping con BS4

In [22]:
! pip install bs4

Collecting bs4
  Downloading bs4-0.0.1.tar.gz
Requirement already satisfied: beautifulsoup4 in /Users/andreselizondo/anaconda/lib/python3.6/site-packages (from bs4)
Building wheels for collected packages: bs4
  Running setup.py bdist_wheel for bs4 ... done
  Stored in directory: /Users/andreselizondo/Library/Caches/pip/wheels/84/67/d4/9e09d9d5adede2ee1c7b7e8775ba3fbb04d07c4f946f0e4f11
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1

In [23]:
import requests
from bs4 import BeautifulSoup